body{
	background-color: #EEEEEE;
	text-align: center;
	padding: 0;
	margin: 0;
}

header{
	font-size: 40px;
	font-family: calibri;
	color: white;
	padding-bottom: 10px; 
	background-color: #19a3e8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main{
	text-align: inherit;
}


/** ECRAN DE CONNEXION **/


#form_connexion{
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 70%;
	border: none;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form_connexion *{
	display: inline-grid;
	margin: 5px;
	padding: 5px;
}

#form_connexion h5{
	font-family: calibri;
	font-size: 20px;
}

#form_connexion a{
	background-color: #19a3e8;
	text-decoration: none;
	font-family: calibri;
	font-size: 20px;
	color: white;
	transition: 0.2s ease;
}

#form_connexion a:hover{
	background-color: white;
	text-decoration: none;
	color: #19a3e8;
	padding: 10px;
	transition: 0.2s ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form_connexion input[type="submit"]{
	background-color: #19a3e8;
	text-decoration: none;
	font-family: calibri;
	font-size: 20px;
	border:none;
	color: white;
	transition: 0.2s ease;
}

#form_connexion input[type="submit"]:hover{
	background-color: white;
	text-decoration: none;
	color: #19a3e8;
	padding: 10px;
	transition: 0.2s ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/** REMPLISSAGE DE LA FICHE ADHERENT **/

#form_fiche{
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 20px;
	width: 70%;
	border: none;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form_fiche div{
	display: block;
	padding: 5px;
}

#form_fiche_div #form_fiche_civ{
	display: block;
}

#form_fiche_div p{
	font-family: calibri;
	font-weight: bold;
	font-size: 25px;
	padding: 0;
	margin: 20px;
}

#form_fiche_div legend{
	font-weight: bold;
}

#form_fiche_div *{
	font-family: calibri;
	display: inline-grid;
	margin-top: 2px;
}

#form_fiche_div input[type="submit"]{
	background-color: #19a3e8;
	text-decoration: none;
	font-family: calibri;
	font-size: 20px;
	border:none;
	color: white;
	transition: 0.2s ease;
}

#form_fiche_div input[type="submit"]:hover{
	background-color: white;
	text-decoration: none;
	color: #19a3e8;
	padding: 10px;
	transition: 0.2s ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form_fiche_retour input[type="button"]{
	background-color: #19a3e8;
	text-decoration: none;
	font-family: calibri;
	font-size: 20px;
	border:none;
	color: white;
	transition: 0.2s ease;
}

#form_fiche_retour input[type="button"]:hover{
	background-color: white;
	text-decoration: none;
	color: #19a3e8;
	padding: 10px;
	transition: 0.2s ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}