<!DOCTYPE html>
<html>
<head>
	<title>AD71</title>
	<link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/style/styleAdmin.css">
</head>
<body>
	<header>
		AD71
	</header>
	<main>
		{% if session.isConnectedAdmin == false %}
		<form name="connexion" method="post" action="{{app.request.basepath}}/connexion">
			<input type="text" name="login" placeholder="login">
			<input type="password" name="mdp" placeholder="mot de passe">
			<input type="submit" name="btconnexion">
		</form>
		{% else %}
		<h2>Gestion des présidents</h2>
		<div id="menu_horizontal">
			<a href="{{app.request.basepath}}/">Accueil</a>
			<a href="{{app.request.basepath}}/messages">Messagerie</a>
			<a href="{{app.request.basepath}}/liste">Liste des adhérents</a>
			<a href="{{app.request.basepath}}/gestion_president">Gérer les présidents</a>
			<a href="{{app.request.basepath}}/deconnexion">Déconnexion</a>
			<a href="javascript:history.back()">Retour</a>
		</div>
		<form id="form-modification" method="post" action="{{app.request.basepath}}/modifier_president/{{president.getLogin}}">
			<legend>Login</legend>
			<input type="text" name="login" value="{{president.getLogin}}">
			<legend>Club</legend>
			<select id="select-club-" name="club">
				<option value="A">SAINT VALLIER</option>
				<option value="B">MONTCHANIN</option>
				<option value="C">SANVIGNES LES MINES</option>
				<option value="D">D</option>
				<option value="E">E</option>
				<option value="F">CLUNY</option>
			</select>
			<br>
			<input type="submit" name="modifier" value="Modifier">
		</form>
		{% endif %}
	</main>
</body>
</html>