<!DOCTYPE html>
<html>
<head>
	<title>AD71</title>
</head>
<body>
	<header>
		AD71
	</header>
	<main>
		{% if session.isConnectedAdmin == false %}
			<form name="connexion" method="post" action="{{app.request.basepath}}/connexion">
				<input type="text" name="login" placeholder="login">
				<input type="password" name="mdp" placeholder="mot de passe">
				<input type="submit" name="btconnexion">
			</form>
		{% else %}
			<p></p>
			<a href="{{app.request.basepath}}/">Accueil</a>
			<a href="{{app.request.basepath}}/messages">Messagerie</a>
			<a href="{{app.request.basepath}}/deconnexion">Déconnexion</a>
			<table>
				<tr><td>Nom :</td><td>{{adherent[0].getNom}}</td></tr>
				<tr><td>Prenom :</td><td>{{adherent[0].getPrenom}}</td></tr>
				<tr><td>Date de Naissance</td><td>{{adherent[0].getDateN}}</td></tr>
				<tr><td>Nom</td><td>{{adherent[0].getNom}}</td></tr>
				<tr><td>Nom</td><td>{{adherent[0].getNom}}</td></tr>
				<tr><td>Nom</td><td>{{adherent[0].getNom}}</td></tr>
				<tr><td>Nom</td><td>{{adherent[0].getNom}}</td></tr>
				<tr><td>Nom</td><td>{{adherent[0].getNom}}</td></tr>
			</table>
		{% endif %}
	</main>
</body>
</html>